
header {
background-color: #d79be3;
color: #FFFFFF;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
main {
background-color: #FFFFFF;
color: #562e5e;
}
img{
width: 500px;
height: 500px;
}
p {
font-weight: bold;
}
